.calendar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(25, 30px);
    background-color: white;
}
 
html {
    background-color: black;
}
 
.day-cell {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    background-color: #f0f0f0;
    /* Light gray */
}
 
.hour-cell {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    background-color: #f0f0f0;
    /* Light gray */
}
 
.empty-cell {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    text-align: center;
}
 
.day-cell.current-day {
    background-color: #4CAF50;
    /* Green */
}
 
.day-cell.current-day span {
    color: white;
    /* Text color */
}
 
button {
    margin-top: 20px;
    padding: 5px;
    background-color: #4CAF50;
}